
*
{
    box-sizing: border-box;
    
}

.cards{

    padding: 50px 20px;
    
}

.phone img{

   height: 500px;
   
   
}

.web{
    
    
        position: relative;
        display: flex;
        flex-direction: column;
        min-width: 1000px;
        word-wrap: break-word;
        background-color: #fff;
        background-clip: border-box;
        border: 1px solid rgba(0, 0, 0, 0.125);
        border-radius: 0.30rem; 
        align-items: center;
    
}

.web img{
    height:400px;
}
.card{
    width: 400px;
    transition: all .5s ease-in-out;

}

.card:hover{

    
    
    box-shadow:1px 1px 1px 1px rgba(0,0,0,.5);
    transform: scale(1.2)
    
}

